@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="mid">
		<h1 class="display-4">Добро пожаловать!</h1>
		<p>
			WarhammerFBMarket - это магазин, посвящённый настольной игре "Warhammer Fantasy Battles".
			На нашем магазине вы можете приобрести миниатюры различных персонажей вселенной.
		</p>
	</div>
</div>


