@model WarhammerFBMarket.Domain.Models.Miniature

@{
	ViewBag.Title = "Title";
	Layout = "_Layout";
}
<div class="text-center">
	<div class="mid">
		<p>@Model.Name</p>
		<p>@Model.Description</p>
		<p>@Model.Fraction</p>
		<p>@Model.Price</p>
	</div>
</div>