body {
    background-image: url('../images/1642005476139012639.png');
    background-size: cover;
    background-attachment: fixed;
}
.mid {
    margin: 0 auto;
    background: rgb(255, 255, 255, 0.5);

}
